.ownbg {
	background: url(img/bg-pattern.png), linear-gradient(to left,#6a11cb,#2575fc);
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

@media screen and (min-width: 992px) {
	.container {
		max-width: 960px;
		margin-top: 14vh;
	}
}

.card-login {
	min-width: 22em;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
}
